<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Twitter Sentiment Analysis</title>
</head>
    <ul id="navigation">
      {% for item in navigationitems %}
        <li>
          <a href={{ item.href }}>{{ item.caption }} </a>
        </li>
      {% endfor %}
    </ul>
    <h1>Twitter Sentiment Analysis</h1>
    <h2>02819 - Datamining Using Python</h2>
<body>
  <form method="post" name="search">
    <p>
      Enter a hashtag: <br>
    </p>
    <p><input type="text" name="hashtag"></p>
    <p><input type="submit" value="Search"></p>
  </form>
    <ul id="tweets">
    {% for tweet in tweets %}
        <li>
          <a>{{ tweet.text }}</a>
        </li>
    {% endfor %}
    </ul>
    {% block content %} {{chart|safe}} {% endblock %}
</body>
</html>
